.aboutcontainer{
    margin-top: 200px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;   
}
.aboutinfo{
    font-weight: 400;
}
.btn{
    border-radius: 5px;
    margin-top: 10px;
}