.ContactContainer{
  padding: 5rem;
  background-color: gray;
    padding: 40px;
}
.contactinfo{
    text-align: center;
}
.contactlayout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
    flex-wrap: wrap;
}
.layoutsideone{
       display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.number{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    width: 100%;
    flex-wrap: wrap;
}
.layoutsidetwo{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  flex-wrap: wrap;
}
.inputstyle{
    width: 20rem;
}
.btn{
    border-radius: 5px;
}
.messagestyle{
   min-height:100px;
    padding-top: 10px;
    width: 100%;
}
@media(max-width:768px){
    .contactlayout{
        gap: 10px;
    }
    .ContactContainer{
        padding: 20px;
    }
}
