.footercontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 15px 7%;
    background-color: white;
}
