.imgcontainer{
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center center;
    margin: 20px;
    box-shadow: 0 5px 5px rgba(13,110, 253, 0.6);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
.projectinfo{
    text-align: center;
}
.profilecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
    margin-bottom: 200px;
    flex-wrap: wrap;
    padding-left: 0.5rem;
}
.iconscontainer{
    display: flex;
    gap: 10px;
    flex-wrap:wrap ;
}

@keyframes animate {
    0%,  100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    
}
