
.profileinfo{
    font-size: 2rem;
    color: white;
}
.profilecontainer{
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 5rem;
    flex-wrap: wrap;
    padding-right: 1rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    flex-direction: row-reverse;
    background: linear-gradient(137deg, #1E4E97 0%, #1E1B78 50%, #6D1A75 100%);
}
.iconscontainer{
    display: flex;
    gap: 10px;
    flex-wrap:wrap ;
    color: white;
}
#iconinfo{
    font-size: 1.5rem;
}
.icon{
    height: 2rem;
    width: 2rem;
}
.heading{
    font-size: 5rem;
    background: -webkit-linear-gradient(#bbba72, #dd7937);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.imgcontainer{
   height: 500px;
   width:  500px;
}
@media(max-width:768px){
    .profilecontainer{
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .heading{
        font-size: 30px;
        padding-left: 20px;
        text-align: center;
    }
    .profileinfo{
        font-size: 20px;
        padding-left: 20px;
        text-align: center;
    }
    .iconscontainer{
        justify-content: center;
    }
    #iconinfo{
        font-size: 15px;
        padding-left: 20px;
    }
    .icon{
        height: 20px;
        width: 20px;
    }
    .profilecontainer{
        gap: 0;
    }
    .imagecontainer{
        height: 350px;
        width: 350px;
    }
    br{
        display: none;
    }
}




