.skillcontainer{
 padding: 5rem;
   }
h2{
    text-align: center;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.skill{
    height: 100px;
    width: 100px;
}
@media(max-width:768px){
    .skillcontainer{
        padding: 20px;
    }
    .skills{
        padding: 30px;
        gap: 5px;
    }
    .skill{
        height: 50px;
        width: 50px;
    }
}